.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reviewed-res {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
